@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #d67529;
  scroll-behavior: smooth;

}

body {

  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: rgba(255, 123, 0, 0.07);
  padding: 1em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: 500ms;
  
}
.scrolled {
  background: white;
  transition: 500ms;

}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  position: relative;
  width: 15%;
  background-size: contain;
}

.logo{
  padding-top: 2em;
}


.navbar nav {
  display: none;
  position: fixed;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  
}

.navbar .mobile-menu {
  cursor: pointer;
  transform: scale(1.6);
}

a {
  color: #444444;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.primary-cta:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
  transition:240ms;

}

.hero-img {
  width: 30%;
  margin-top: 3em;
}

.left-col .mail-cta {
  display: inline-block;
  border: 0px solid var(--primary-color);
  border-radius: 5em;
  padding: 1em;
  font-weight: bold;
  margin-top: -.2em;
  position: relative;

}

.primary-cta img{
  position: relative;
  margin-right: 0.4em;
}

.mail-cta img {
  position: relative;
  margin-right: 0.5em;
  top: 0.5em;
}

.mail-cta a{
  font-size: 1.2em;
}

.mail-cta a:hover{
  position: relative;
  font-size: 1.2em;
}
.mail-cta::before {
  transform-origin: left;
  transform: scaleX(1);
}

.mail-cta:hover::before{
  transform: scaleX(1);

}
.mail-cta::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}


section.features-section {
  background: #20272E;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: .5em;
}

.features-section i {
  padding-right: .3em;
  transform: scale(1.3)
}

.features-section img{
  display:none;
}

.card-section {
  background: var(--primary-color);
  color:  #20272E;
  
}
.card-section a{
  text-decoration: none;
  padding-top: 1.5em;
}

.card-section li {
  background: white;
  text-align: center;
  padding: 2em 1em ;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);
  
}

.card-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  margin-top: -4.5em;
}
.card-section li:hover{
  background: #ffffff61;
  transition: 300ms;
  color: white;
  transform: scale(1.05)
}


.float {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 0.5rem;
  background-color: #25d365;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3.2rem;
  box-shadow: 2px 2px 3px #999;
  transition-duration: 0.25s;
  margin-right: .5rem;
  z-index: 2;
  transform: scale(0.8);
}
.float:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 8px #999;

}

.float-sms {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 8rem;
  right: 0.5rem;
  background-color: #257fd3;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3.2rem;
  box-shadow: 2px 2px 3px #999;
  transition-duration: 0.25s;
  margin-right: .5rem;
  z-index: 2;
  transform: scale(0.8);
  }

.float-sms:hover {
  transform: scale(1.0);
  box-shadow: 6px 6px 8px #999;

}


h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 2em;
  margin-bottom: .5em;
}



iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 45%;
  right: 0;
  top: 0;
  background: #d67429f1;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}


.contact-left-card  i{
  padding-right: 0.8em;
}

.contact-left-card li {
background: white;
text-align: left;
padding: 1em;
width: 80%;
margin: 0;
border-radius: 1em;
box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);
} 

.contact-left-card a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2em;
  padding: .8em 1em;
  text-decoration: none;
  
}


.contact-left-card li:hover{
background: #d67429b7;
transition: 0.25s;
color:#ffffff;
transform: scale(1.05);
cursor: pointer;
}

.contact-left-card li a:hover {
  color:#ffffff;

}



@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .logo .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 190px auto;
    grid-template-columns: 190px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
           
  }

  .logo{
    position: relative;
    bottom: 1em;
    right: 5em;
    color: #d67529;
  }

  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
          justify-content: space-between;
    background: none;
    position: relative;
    height: auto;
    width: 100%;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
  .navbar nav a {
    color: black;
    font-size: 2em;
    padding: 1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
 

  
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;

  }
  section {
    padding: 6em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;

  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
    
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.8em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -4em;
  }
  .card-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    
  }
  .card-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
    
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }


}
@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}
}